.statistics{
  margin: 0 10px;
  width: 500px;

  background-color: #fff;
  border-radius: 5px;
}

.statList{
  display: flex;
  justify-content: space-between;
}

.title{
  padding: 45px 0;

  font-size: 35px;
  text-align: center;
}

.item{
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 20%;

  color: #ffffff;
}

.percentage{
  margin-top: 10px;

  font-size: 25px;
}
